# electron_mirror=https://registry.npmmirror.com/-/binary/electron/
# electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
# proxy=http://127.0.0.1:7891
# https-proxy=http://127.0.0.1:7891